*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --main-color: #d66cf7;
}
.header{
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: var(--main-color);
}
